<ul class="post-container" *ngFor="let post of posts">
  <li class="post-box">
    <p><span>User: </span>{{post.userEmail}}</p>
    <p><span>Title: </span>{{post.title}}</p>
    <p><span>Description: </span>{{post.description}}</p>
    <div class="btn-container" *ngIf="post.userId === userId && editMode === false">
      <button type="button" (click)="handleEdit()">Edit</button>
      <button type="button" (click)="handleDelete(post)">Delete</button>
    </div>
    <div class="input-container" *ngIf="editMode === true">
      <p>Please type your new values:</p>
      <input type="text" placeholder="New Title: " name="newTitle" required #newTitle>
      <input type="text" placeholder="New Description: " name="newDescription" required>
      <p>{{newTitle.value}}</p>
      <div class="btn-container">
        <button>Confirm</button>
        <button (click)="cancelEditMode()">Cancel</button>
      </div>
    </div>
  </li>
</ul>