<form class="post-form" #form="ngForm">
  <label for="title">
    <input type="text" name="title" placeholder="Title:" required #title="ngModel" [ngModel]="post?.title">
  </label>
  <label for="description">
    <input type="text" name="description" placeholder="Description:" required #description="ngModel"
      [ngModel]="post?.description">
  </label>
  <div class="btn-container">
    <button type="button" (click)="handleCreate(form)">Create</button>
    <!-- <button type="button" (click)="handleEdit(form)">Edit</button> -->
    <!-- <button type="button" (click)="handleDelete()">Delete</button> -->
  </div>
</form>